body {

}

h1 {
	font-family: "Garamond", serif;
    font-size: 60px;
}

p {
	width: 400px;
	font-family: "Helvetica Neue", Arial, sans-serif; 	
	background: rgba(0,255,255,0.3);
	font-size: 20px;
	line-height: 1.2em;
}

.catwrapper {
	background: rgba(255,0,0,0.3);
	transition: all 2s;
}

.catwrapper img {
	width: 60px;
}

.clicked {
	background: rgba(0,0,255,0.5) !important;
	border: 5px solid black;
}









