body {
	background: limegreen;
}

h1 {
	font-family: "Garamond", serif;
    background: rgba(255, 0, 247, 0.28);
    font-size: 162px;
    color: white;
}

p {
	font-family: "Helvetica Neue", Arial, sans-serif; 	
	background: rgba(0,255,255,0.3);
	font-size: 20px;
	line-height: 1.2em;
	letter-spacing: .200em;
	/*text-transform: uppercase; */
}

div.box {
	width: 200px;
	height: 200px;
	background: rgba(0,0,0,0.2);
}

#fixed {
	position: fixed;
	top: 50px;
	left: 50px;
}

#fixed p {
	font-family: serif;
}

#fixed p.select {
	color: yellow;
	padding-left: 50px;
}

#fixed img {
	width: 100%;
}

#fixed img:hover {
	opacity: 0.8;
}


#absolute {
	position: absolute;
	top: 50px;
	right: 50px;
}

#relative {
	position: relative;
	top: 50px;
	left: 50px;
}

.wrapper {
	width: 50vw;
	background: rgba(0,0,255,0.3);
}

.third {
	width: 25%;
	margin-right: 2%;
	float: left;
}
.clear {
	clear: both;
}

.firstthree {
	background: rgba(200,200,255,1);
	font-weight: bold;
	letter-spacing: .05em;
}

#special {
	width: 30%;
/*	background: green;
	padding: 50px;
	margin: 80px;
	border: 10px solid black;*/
}

#special:hover {
	opacity: 0;
	cursor: pointer;
}
#special:active {
	background:blue;
}

a {
	color: orange;
}

a:hover {
	color: purple;
}
a:active {
	color: yellow;
}







